.secondaryButton {
    /* Button/light theme */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 56.45%;

    background: #fff;
    border: 1px solid #1d394b;
    border-radius: 8px;
}
