.navCardSwitcher {
    height: 100%;
    background-color: #fff;
    padding: 32px;
}

.navCardSwitcher .selector {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;

    gap: 24px;
}

.navCardSwitcher .selector select {
    background-color: #f4f4f4;
    -webkit-appearance: none;
    appearance: none;
}
.navCardSwitcher .selector .selector-wrapper {
    position: relative;
}

.navCardSwitcher .selector .selector-wrapper::after {
    content: '▼';
    font-size: 1rem;
    top: 20px;
    right: 10px;
    position: absolute;
}
