.tertiaryStage {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);

    min-height: 435px;

    /* border: 1px solid red; */
}

.tertiaryStage > div {
    /* border: 1px solid blue; */
}

.tertiaryStage .breadcrumb {
    font-family: 'Satoshi-Variable';
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: uppercase;

    margin-top: 55px;
}

.tertiaryStage .title {
    color: #1d394b;

    font-family: 'Satoshi-Variable', serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
}

.tertiaryStage .stageImage {
    align-self: end;
}
