.tertiaryStage {
    position: relative;
    /* height: 100%; */
    /* min-height: 435px; */
    border: 1px solid transparent;
}

.tertiaryStage .breadcrumb {
    display: inline-flex;
    gap: 16px;
    color: #1c1c1c;
}

.tertiaryStage .teaserImage {
    position: absolute;
    bottom: 110px;
    right: 32px;
}

.tertiaryStage .teaserImage img {
    max-width: 200px;
}

.tertiaryStage .stageLinks {
    display: flex;
    gap: 70px;
}

.tertiaryStage .stageLink {
    display: flex;
    gap: 8px;
    align-items: center;

    color: #1d394b;
    font-weight: 700;
}

.tertiaryStage svg {
    width: 20px;
    height: 20px;
    fill: #00b4b4;
    color: #00b4b4;
}
