.primaryStage {
    position: relative;
    border-bottom: 1px solid #00b4b4;
    padding-bottom: 56px;
}

.primaryStage .breadcrumb {
    display: inline-flex;
    gap: 16px;
    color: #1c1c1c;
}

.primaryStage .topimage {
    position: absolute;
    top: 0px;
    right: 0px;
}

.primaryStage .topimage img {
    max-width: 300px;
    max-height: 300px;

    object-fit: cover;
}
